/* FONT ROBOTO W= 400,500,700,900 */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

/* GENERAL RULES */

body {
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  color: #031c4e;
}

h1 {
  font-weight: 700;
  font-size: 40px;

}

h2 {
  font-weight: 700;

}

h3 {
  font-weight: 700;
  font-size: 36px;
}
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color:#0069ff;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: gray;
}

a.text-decoration {
  text-decoration: underline;
}
/* UTILITIES */

.color-blue {
  color: #031c4e;
}

.color-l-blue {
  color: #0069ff;
}

.color-light-blue {
  color: #586686;
}
.color-black {
  color: #010e28;
}

.color-gray {
  color: gray;
}

.color-white {
  color: #fff!important;
}

.addon {
  display: inline-block;
  position: absolute;
  left: 0;
}

.addon img {
  width: 20px;
}

.small-text-gray {
  font-size: 14px;
  color: gray;
}
.xx-text {
  font-size: 12px!important;
}

.relative {
  position: relative;
}

.white-color-07 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

p.lead {
  font-size: 20px;
  font-weight: 500;
}

/* BUTTON */

.btn-primary-inverse {
  background: transparent;
  border: 1px solid #0069ff;
  color: #0069ff;
  padding: 2px 8px;
}

.btn-primary-inverse:hover,
.btn-primary-inverse:active,
.btn-primary-inverse:focus {
  background: #0069ff;
  color: #fff;
  border: 1px solid #fff;
}

.btn-primary {
  background: #0069ff;
  border: 1px solid #0069ff;
  color: #fff;
  padding: 2px 8px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #fff;
  color: #0069ff;
  border: 1px solid #0069ff;
}

.btn-primary-lg {
  background: #0069ff;
  border: 1px solid #0069ff;
  color: #fff;
  padding: 6px 8px;
  width: 100%;
  font-weight: 700;
}

.btn-default-lg {
  padding: 6px 8px;
  box-shadow: 1px 1px #d6d6d6;
  width: 100%;
  font-weight: 700;
  color: gray;
}
.padding-t-40 {
  padding-top: 40px;
}
/* MAIN HEADER */
#main-header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    font-weight: 700;
    background: #fff;
    z-index: 1;
}

nav#main-nav {
    padding: 15px 5px;
}

/* TOGGLE MENU */
#toggle-menu {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 20px;
  right: 10px;
  background: #fff;
  z-index: 2;
}

/* LOGO */

img.logo-img {
  width: 30px;
}

span#logo {
  color:#0080ff;
  font-size: 20px;
  font-weight: 900;
  vertical-align: middle;
}

/* JUMBOTRON */
.jumbotron {
  background: url('../img/bg-banner-home.jpg');
  background-position: 100% 100%;
  padding: 60px 10px;
  margin: 0;
}

.jumbotron h1 {
  font-size: 48px;
  line-height: 56px;
}


.jumbotron-in {
  padding: 10px;
}

/* FORM */
.form-horizontal {
    background: #fff;
    padding: 5px 15px;
    border-radius: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* INNOVATIVE-BUSINESS */
#innovative-business,
#designed-for-devs {
  padding: 20px 10px;
  background: #f3f5f9;
}

/* DEPLOY-AND-SCALE */
#deploy-and-scale,
#features-your-business {
  padding: 20px 10px;
  background: #fff;
}

.list-app>li {
  width: calc(100% / 6 - 10px);
}

.list-app>li img {
  max-width: 100%;
}

/* DESIGNED-FOR-DEVS */

/* SLIDER */

.slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
.arrow-left {
  left: -40px;
}
.arrow-right {
  right: -60px;
}

ul.slider-list li {
  width: 15px;
  border: 1px solid #0069ff;
  padding: 7px;
  border-radius: 50%;
}

.slider-nav {
  padding-top: 15px;
}

.active {
  background: #0069ff;
}

/* MEDIA QUERIES */
@media all and (min-width:768px) and (max-width:1199px) {
  #toggle-menu {
    right: 30px;
  }
}

@media all and (max-width:468px) {
  .list-app>li {
    width: calc(100% / 2 - 10px);
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }
  .arrow-left {
    left: -25px;
  }
  .arrow-right {
    right: -45px;
  }

}
