/* FONT ROBOTO W= 400,500,700,900 */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

/* GENERAL RULES */

body {
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  color: #031c4e;
}

h1 {
  font-weight: 700;
  font-size: 40px;

}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 26px;
}

h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color:#0069ff;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: gray;
}

a.text-decoration {
  text-decoration: underline;
}
/* UTILITIES */

.color-blue {
  color: #031c4e;
}

.color-l-blue {
  color: #0069ff;
}

.color-light-blue {
  color: #586686;
}
.color-black {
  color: #010e28;
}

.color-gray {
  color: gray;
}

.color-white {
  color: #fff!important;
}

.addon {
  display: inline-block;
  position: absolute;
  left: 0;
}

.addon img {
  width: 20px;
}

.small-text-gray {
  font-size: 14px;
  color: gray;
}
.xx-text {
  font-size: 12px!important;
}

.relative {
  position: relative;
}

.white-color-07 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

p.lead {
  font-size: 20px;
  font-weight: 500;
}

.position-center {
  position: absolute;
  top:35%;
  width: 90%;
  left: 50%;
  height: 100px;
  transform: translate(-50%, -50%);
}

/* BUTTON */

.btn-primary-inverse {
  background: transparent;
  border: 1px solid #0069ff;
  color: #0069ff;
  padding: 2px 8px;
}

.btn-primary-inverse:hover,
.btn-primary-inverse:active,
.btn-primary-inverse:focus {
  background: #0069ff;
  color: #fff;
  border: 1px solid #fff;
}

.btn-primary {
  background: #0069ff;
  border: 1px solid #0069ff;
  color: #fff;
  padding: 2px 8px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #fff;
  color: #0069ff;
  border: 1px solid #0069ff;
}

.btn-primary-lg {
  background: #0069ff;
  border: 1px solid #0069ff;
  color: #fff;
  padding: 6px 8px;
  width: 100%;
  font-weight: 700;
}

.btn-default-lg {
  padding: 6px 8px;
  box-shadow: 1px 1px #d6d6d6;
  width: 100%;
  font-weight: 700;
  color: gray;
}

.btn-default {
  color: #0069ff;
  font-weight: 500;
}

.padding-t-10 {
  padding-top: 10px;
}

.padding-t-20 {
  padding-top: 20px;
}

.padding-t-40 {
  padding-top: 40px;

}

/* MAIN HEADER */
#main-header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    font-weight: 700;
    background: #fff;
    z-index: 1;
}

nav#main-nav {
    padding: 15px 5px;
}

/* TOGGLE MENU */
#toggle-menu {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 20px;
  right: 10px;
  background: #fff;
  z-index: 2;
}

/* LOGO */

img.logo-img {
  width: 30px;
}

span#logo {
  color:#0080ff;
  font-size: 20px;
  font-weight: 900;
  vertical-align: middle;
}

/* JUMBOTRON */
.jumbotron {
  background: url('../img/bg-banner-home.jpg');
  background-position: 100% 100%;
  padding: 60px 10px;
  margin: 0;
}

.jumbotron h1 {
  font-size: 48px;
  line-height: 56px;
}

.jumbotron-in {
  padding: 10px;
}

/* FORM */
.form-horizontal {
    background: #fff;
    padding: 5px 15px;
    border-radius: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* ----- SECTIONS PADDING AND BG  ----- *
/
/* SECTIONS  #f3f5f9 */
#innovative-business,
#designed-for-devs,
#devs-team {
  padding: 40px 10px;
  background: #f3f5f9;
}

/* SECTIONS #FFF */
#deploy-and-scale,
#features-your-business {
  padding: 40px 10px;
  background: #fff;
}

#service-your-costumers,
#get-started-now {
  padding: 40px 10px;
  background: linear-gradient(57deg, #0044c3,#00209b);
}

#service-your-costumers a {
  color: #00c7cf;
}


#main-footer {
  padding: 40px 10px;
  background: #031c4e;
  color: #fff;
}

#main-footer h5 {
  font-size: 18px;
}
#main-footer p {
  font-size: 16px;
  color: rgba(255,255,255,0.6);
  font-weight: 100;
}

#main-footer h5,
#main-footer ul li a {
  color: rgba(255,255,255,0.6);
  font-weight: 500;
}

#main-footer ul li a:hover,
#main-footer ul li a:active,
#main-footer ul li a:focus {
  color: #0069ff;
}

#chat {
  width: 400px;
  height: 70px;
  position: fixed;
  bottom:0;
  right: 0;

}

/* ------- LIST ------------ */

.vertical-list {
  list-style: none;
  padding: 0;
}

.vertical-list li {
  border-left: 1px solid #d6d6d6;
  line-height: 30px;
  padding-left: 12px;
  font-weight: 500;
  color: #586686;
  font-size: 16px;
}

.list-app>li {
  width: calc(100% / 6 - 10px);
}

.list-app>li img {
  max-width: 100%;
}

.vertical-list-footer {
  list-style: none;
  padding: 0;
}

.vertical-list-footer li {

  font-size: 16px;
}

/* SLIDER */

.slider {
  width: 100%;
  height: 100%;
}

.slider-item {
  background: #fff;
  width: 100%;
  height: 300px;
  position: relative;

}

/* ----- arrows slider ------ */

.arrow-left,
.arrow-right {
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
.arrow-left {
  left: -40px;
}
.arrow-right {
  right: -60px;
}

ul.slider-list li {
  width: 15px;
  border: 1px solid #0069ff;
  padding: 7px;
  border-radius: 50%;
  margin-right: 5px;
}

.slider-nav {
  padding-top: 15px;

}

.active {
  background: #0069ff;
}

/* features-your-business */
#features-your-business p {
    font-weight: 500;
    font-size: 16px;
}

/* TABLE */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}

.table tr:nth-last-of-type(1) {
  border-bottom:1px solid #fff;
}


/* TOOLTIP STYLES */

.tooltip-new {
  position: relative;
  display: inline-block;
  float: left;
  width: 300px;
  padding: 10px;
  background: #fff;
  line-height: 1.45;
  border-radius: 5px;
  /* Ombreggiatura */
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
  /* box-shadow: 0 0 8px 5px rgba(0,0,0, .1); */

}

.tooltip-new::before {
  content: '';
  position: absolute;
  bottom: 15px;
  right: -5px;
  width: 10px;
  height: 10px;
  background: #fff;
  /* Rotazione */
  transform: rotate(45deg);
}


/*-------  chat shark and badge ---------- */

.shark {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-left: 15px;
  background: #006aff url('../img/chat-img.png');
  background-position: center;
  background-size: cover;
  position: relative;
}


.shark-badge {
  font-weight: 500;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(50%);
  border: 3px solid #fff;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background: red;
  vertical-align: middle;
  padding-top: 1px;
}


/* MEDIA QUERIES */
@media all and (min-width:768px) and (max-width:1199px) {
  #toggle-menu {
    right: 30px;
  }
}

@media all and (max-width:468px) {
  .list-app>li {
    width: calc(100% / 2 - 10px);
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }
  .arrow-left {
    left: -10px;
  }
  .arrow-right {
    right: -35px;
  }

  #devs-team img {
    max-width: 90%;
  }

  #chat {
    height: 70px;
    position: fixed;
    bottom: 5px;
    right: 18px;
    width: 90%;
    display: inline-flex;
  }

}
